*{
    margin: 0%;
    padding: 0%;
    

}
#admission{

    justify-content: end;
    align-items: center;
    right: 10%;
    position: absolute;
}
.logo{
    width: 50px;
    height: 40px;
    left: 20px;
    position: absolute;
}
header{
    
    background-color:rgba(31, 107, 63, 0.548);
    display: flex;
    justify-content: center;
    align-content: center;
    position: sticky;
    height: 50px;
    box-shadow: 0 0 20px 10px;
    position: relative;
    
}
header ul{
    display: flex;
   

}
header ul li{
    list-style: none;
    margin-left: 30px;
    font-size: large;
    font-weight: bold;

   
}
header ul li:hover{
border-bottom: 3px solid rgb(100, 21, 21);
transition: .1s all;
cursor: pointer;
}
header button{
    right: 20px;
    position: absolute;
}
.img{
    
    background-image: url("https://img.freepik.com/free-photo/free-time-students-bachelor-s-campus-life-rhythm-five-friendly-students-are-walking_8353-6408.jpg?size=626&ext=jpg&ga=GA1.1.1448711260.1706659200&semt=ais" );
background-position: center;
background-repeat: no-repeat;
background-size: cover;


}
.text{
    margin-left: 10%;
    
}
.text h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
filter: drop-shadow( 0 0 20px);

}
.start{
    padding: 5px;
    background-color: rgb(148, 131, 32);
    font-weight: bold;
}
form{
    width: 300px;
    background-color: rgba(128, 128, 128, 0.521);
    border: solid 2px black;
    border-radius: 20px;
    right: 30px;
    box-shadow: 0 0 50px 10px;
    position: relative;
    
   
    
}
.ad{
    color: blueviolet;
    font-size: 20px;
    font-weight: bold;
    
    
}
form div{
    margin-left: 55px;
}
.form{
    right: 10%;
    position: absolute;
    top: 70px;
}
.content ul{
    display: inline;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    list-style: none;
    align-items: center;
margin-top: 20px;

}


.content ul i{
    font-size: 30px;

    
}

.content{
    background:linear-gradient(50deg, rgba(255, 0, 0, 0.205), rgba(13, 13, 114, 0.521)) ;
}
.select{
    display: flex;
    justify-content: space-around;


}
.select div{
    width: 300px;
    height: 250px;
    border: solid 2px black;
    border: none;
    position: relative;
    box-shadow: 0 0 10px rgba(111, 0, 255, 0.473) ;
    text-align: center;
    transition: .3s all;
    object-fit: cover;
}
   

.select div a img{
   width: 300px;
   height: 230px;
   transition: .3s all;
}
   

.select div a  h5{
    font-size: 20px;
    text-decoration: none;
}
.select div a {
    text-decoration: none;
}
.select div a img:hover{
    width: 320px;
    height: 240px;
    transition: .3s all;
   
}
.select div:hover{
    width: 320px;
    height: 270px;
    position: relative;
    box-shadow: 0 0 10px rgba(111, 0, 255, 0.473) ;
    text-align: center;
    transition: .3s all;
}
.pic img{
    width: 350px;
    object-fit: cover;
    mix-blend-mode:multiply ;
    aspect-ratio: 3/2;
gap: 20px;

    
}
.pic{
    margin-left: 5%;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

}
footer{
    background-color: rgba(0, 0, 0, 0.966);
    color: antiquewhite;
    opacity: .8;
   
    
}
footer .foot{
    display: flex;
    justify-content: space-around;
    
}
footer .foot li{
  color: aqua;
    list-style: none;
    font-size: medium;
    padding: 5px;


}
footer .foot li:hover{
   
  

}
footer a i{
    font-size: 30px;
    padding: 10px;
    color: rgb(255, 255, 255);
}
footer a i:hover{
    color: rgb(47, 217, 230);
}
@media only screen and (max-width: 470px) {
    
    header ul{
        flex-direction: column;
        text-align: center;
    }
    header{
    
        background-color:rgba(164, 207, 44, 0.548);
        
        justify-content: center;
        align-content: center;
        position: sticky;
        height: 120px;
        box-shadow: 0 0 20px 10px;
        position: relative;
        
    }
    form{
        width: 300px;
        background-color: rgba(128, 128, 128, 0.521);
        border: solid 2px black;
        border-radius: 20px;
        right: 0px;
        box-shadow: 0 0 50px 10px;
        position: relative;
        top: 100px;
    
}
.start{
    background: transparent;
}
}